<section id="sub-header" class="container">
  <div class="row bg-secondary rounded-bottom">

    <div class="col text-light font-weight-light p-3 px-5 px-md-3">
      <h3>
        A daylish blog about the never-ending quest of knowing more about the things I use to make things.
      </h3>
      <h4>- by Art Mieussens &hellip;
        <%= link_to '#' do %>
          <i class="fas fa-envelope text-light px-1 fa-lg"></i>
        <% end %>
      </h4>
    </div>

    <div class="col-sm-auto text-right p-2 d-none d-sm-block">
      <%= image_tag 'art-hex.png', id: "artvatar", class: "img-fluid", size: "100x100" %>
    </div>

  </div>
</section>